<h1>Add New Response</h1>

<%= form_with(model: [@supportticket, @response], local: true) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', supportticket_path(@supportticket) %>
